:root {
    /* Japon */
    --primary-japon: #db2f21;
    --secondary-japon: #95231c;
    --complementary-japon: #8c8380;
    --site-max: 1440px;
    --heroTextMaxWidth: 1000px;


    /* Globales */
    --white: #f3f3f0;
    --bg: #f3f3f0;
    --black: #16181b;
    --radius: 0.2rem;

    /* Fonts are provided globally by next/font/local in src/app/layout.tsx */
}
