.buttonBase {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 260px;
  height: 2.8rem;
  border: 0;
  border-radius: 0.1rem;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 400;
  color: var(--white, #ffffff);
  transition: all 500ms ease;
  font-family: var(--font-nohemi);
  letter-spacing: 0.04rem;
}

.buttonBase:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.buttonPrimary {
  padding: 0.15rem 4.2rem 0.15rem 2rem;
  background-color: var(--primary);
}

.buttonPrimary:hover {
  padding-left: 3rem;
  padding-right: 1rem;
  background-color: var(--secondary);
}

.buttonSecondary {
  padding: 0 1.2rem;
  background-color: var(--black, #000000);
}

.buttonSecondary:hover {
  background-color: var(--complementary);
  transition: all 3ms ease-in-out;
}

.buttonOutline {
  padding: 0 1.2rem;
  background-color: transparent;
  border: 1px solid var(--white, #ffffff);
}

.buttonOutline:hover {
  background-color: var(--white, #ffffff);
  color: var(--black, #000000);
}

.buttonLabel {
  position: relative;
  z-index: 10;
  padding-top: 2px;
  transition: all 500ms ease;
}

.buttonIcon {
  position: absolute;
  right: 0.25rem;
  display: flex;
  width: 2.3rem;
  height: 2.3rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.1rem;
  background-color: var(--bg);
  color: var(--black);
  transition: all 500ms ease;
}

.buttonPrimary:hover .buttonIcon {
  right: calc(100% - 41px);
}
