.page {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.track {
  display: flex;
  width: max-content;
  height: 100%;
  overflow-y: hidden;
}

.column {
  flex: 0 0 100vw;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
